<div class="row">
<div class="row"> <h3> Edit Post </h3> </div>
<%= form_with scope: :new_blog_post, class: 'col s12', url: post_path(@post), method: :patch do |form| %>

  <div class="row">
    <div class="input-field col s12">
      <%= form.text_field :title, class: 'validate', value: @post[:title] %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= form.text_area :description, value: @post[:description], class: 'materialize-textarea' %>
    </div>
  </div>

  <a href="<%= home_path %>" class="waves-effect waves-light btn"><i class="material-icons">arrow_back</i></a>
  <%= form.submit "Submit", class: 'btn waves-effect waves-light', disable_with: 'Submiting...' %>

  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <p> <%= msg %> </p>
    <% end %>
  <% end %>

<% end %>
</div>