<div class="row">
<div class="row"> <h3> Add Post </h3> </div>
<%= form_with scope: :new_blog_post, class: 'col s12', url: posts_path do |form| %>

  <div class="row">
    <div class="input-field col s12">
      <%= form.text_field :title, class: 'validate' %>
      <%= form.label :title, "Title" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= form.text_area :description, class: 'materialize-textarea' %>
      <%= form.label :description %>
    </div>
  </div>

  <%= form.submit "Submit", class: 'btn waves-effect waves-light', disable_with: 'Submiting...' %>

  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <p> <%= msg %> </p>
    <% end %>
  <% end %>
<% end %>
</div>